nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 8vmin;
}

a.nav-link {
  font-weight: 600;
  background-color: rgb(135, 124, 216);
  padding: 1vmin;
  color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

a.nav-link:hover {
  text-decoration: none;
  background-color: rgb(142, 146, 200);
}

nav span {
  margin-bottom: 3vmin;
  font-weight: 500;
  font-size: 5vmin;
}